  <footer>
    <section class=footer>
        <div class="container">
          <div class ="row">
            <div class="twelve columns">
              <hr>
              <nav>
                <a href="{{ root }}index.html">About</a> |
                <a href="{{ root }}now.html">Now</a> |
                <a href="{{ root }}posts.html">Posts</a> |
                <a href="{{ root }}colophon.html">Colophon</a> |
                <a href="{{ root }}contact.html">Contact</a>
              </nav>
              <div class="row">
                <div class="four columns"><img src="{{ root }}assets/img/mayo.webp" style="width:75%"></div>
              </div>
              <p> © 2025-2026 Benjamin Hanna </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>
</body>
</html>